* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
  /* 150% of font-size */
}

.r-btn {
  padding: 5px 20px;
  background-color: #ee8683 !important;
  color: #fff !important;
}

::selection {
  background-color: #ee8683;
  color: #fff;
  /* text-shadow: 4px 2px 2px #FFFD3A; */
}

.r-p {
  padding-top: 80px;
  padding-bottom: 80px;
}
.content-mg {
  margin: 10px 0;
}
.content-box * + * {
  margin: 20px 0;
}
.bg-sec {
  background-image: linear-gradient(rgba(61, 62, 64, 0.5),rgba(61,62,64,0.5));
}
.bg-exp{
    margin: 0;
    padding: 0;
    background: #000 !important;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    display: flex;
    align-items : center;
    justify-content: center;
}
#canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
  
.title-box {
  max-width: 600px;
  text-align: center;
}

/* Navigation---------------------------------------------------------------------------- */

nav img{
  height: 50px;
  width: 50px;
}
nav .navbar-brand {
  font-size: 30px;
  color: #fff;
  transition: 0.5s all;
}
nav .navbar-nav li {
  margin-left: 15px;
}
nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}
nav.r-nav {
  background: transparent;
  padding: 20px 0px;
  transition: 0.5s all;
}

nav.r-nav.stickyadd {
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}
nav.stickyadd .navbar-brand {
  color: #000;
  font-size: 40px;
  transition: 0.5s all;
}
nav.stickyadd .navbar-nav .nav-link {
  color: #000 !important;
}
.navbar .hamburger {
  color: #fff;
}
nav.stickyadd .hamburger {
  color: #000;
}

nav *,
header * {
  animation-delay: 0.5s;
}

/* ---------- */

/* Header -----------------------------------------------------------------------*/



header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/bg0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-box {
  max-width: 700px;
  color: #fff;
}
.content-box h4 {
  font-size: 30px;
}
.content-box h1 {
  font-size: 52px;
}
.content-box a {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 25px;
}
.content-box p {
  color: #fff;
}
.content-box a:hover {
  color: #000;
  background: #fff;
  transition: 0.5s all;
}

/* About Us */

.about li a {
  color: #000;
  display: inline-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #d4d4d4;
  line-height: 40px;
  transition: 0.5s all;
  text-align: center;
}

.about li a:hover {
  color: #ee8683;
}

/* Skills ---------------------------------------------------------*/
.skills .progress {
  height: 10px;
  border-radius: 20px;
  font-size: 10px;
}
.progress-color {
  background-color: #ee8683 !important;
}
.skills label {
  font-size: 20px;
  margin: 10px;
}

/* Education */
.card,
.card-header {
  background: #f8f9fa !important;
}

.card-header {
  border: none !important;
}

.education .card-header i {
  font-size: 50px;
}
.education-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background: #e65f78;
  transition: 0.5s all;
}
.education h5:hover + .education-border {
  width: 100px;
}

.education p {
  font-size: 16px;
}

.education .btn:hover {
  color: #000 !important;
  background: #eee !important;
}

/* Experience */
.experience a{
  color: #ee8683;
}
.experience .test-item {
  max-width: 500px;
  margin: 50px auto;
}
.experience .test-item .test-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.test-item p.test-name {
  font-size: 11px;
}

/* break section */
.break{
  height: 500px;
  width:auto;
}
/* Work */
.work .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}
.icon{
  font-size: 30px;
}

.work a{
  color: #e65f78;
}
/* Contact */
.contact .r-icon {
  font-size: 50px;
  text-align: center;
}

.contact a{
  color:#848484;
}
/* footer */
footer {
  height: 200px;
  background-color: #333333;
}
footer .r-icon a {
  font-size: 20px;
  color: #848484;
  padding: 10px;
  border: 1px solid #848484;
  border-radius: 50%;
}
footer .r-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
}
/* Media-------------------------------------------------------------------------------- */
@media (min-width: 200px) and (max-width: 768px) {
  .r-nav {
    background: #fff !important;
  }
  .r-nav .container {
    width: 85%;
  }
  nav .navbar-brand {
    font-size: 30px;
    color: #000;
  }
  .navbar .hamburger {
    color: #000;
  }
  nav .navbar-nav .nav-link {
    color: #000 !important;
  }

  .content-box h1 {
    font-size: 30px;
  }
  .content-box p {
    font-size: 16px;
  }
  /*
  header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/background.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: -700px 0;
  }
  */
}
@media only screen and (max-width: 400px) {
  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/bgmobview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-exp{
    display: none;
  }
  .card{
    margin-top: 10px;
  }
  #p3, #p4, #contact{
    margin-top: 0;
  }
}
